.App {
  text-align: center;
}
.MuiCircularProgress-root{
    color: #ffffff !important;
}
.MuiAlert-standardError {
  background-color: #cc4466 !important;
  color: #ffffff !important;
}
.MuiAlert-standardWarning{
  background-color: #dd9800 !important;
  color: #ffffff !important;
}
.MuiAlert-standardSuccess{
  background-color: #4caf50 !important;
  color: #ffffff !important;
}
.MuiAlert-icon{
  color: #ffffff !important;
}
.MuiPaper-rounded {
  background-color: #222225 !important;
  padding: 16px;
}
.MuiOutlinedInput-root input{
    color: #ffffff;
    font-size: 24px !important;
}
.inline{
  display: inline;
}
.cursor{
  color: #ffffff !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.dynamicWebappifyTitle{
  font-size: 64px;
}

.App-link {
  color: #61dafb;
}
.largeScreenColumns{
  flex-flow: row;
}

@media screen and (max-width: 640px){
  .largeScreenColumns{
    flex-flow: column;
  }
  .dynamicWebappifyTitle{
    font-size: 10vw;
  }
}

@keyframes fadeToVisible {
  from {opacity: 0;padding-top: 64px}
  to {opacity: 1;padding-top: 0px}
}

@keyframes displayAndFadeToVisible {
  from {height:auto;visibility: visible;opacity: 0;padding-top: 64px;}
  to {height:auto;visibility: visible;opacity: 1;padding-top: 0px;}
}

@keyframes fadeToHidden {
  0% {opacity: 1;padding-top: 0px}
  50% {opacity: 0;padding-top:64px}
  100% {display:none;opacity: 0;padding-top:64px;}
}

@keyframes flexToFour {
  from {flex-grow: 2;}
  to {flex-grow: 4;}
}
@keyframes flexToZero {
  from {flex-grow: 1;}
  to {flex-grow: 0;}
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
